<!-- permite que o usuário logado altere sua senha cadastrada para as próximas vezes que for fazer login-->

<h1>Altere sua senha</h1>

<%= form_with model: Current.user, url: edit_password_path, local: true, data: { turbo: false } do |form| %>
    <% if form.object.errors.any? %>
        <div class="alert alert-danger">
            <% form.object.errors.full_messages.each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>
    <% end %>

    <div class="mb-3">
        <%= form.label :password, "Nova senha" %>
        <%= form.password_field :password, class: "form-control", placeholder: "1234"  %>
    </div>

    <div class="mb-3">
        <%= form.label :password_confirmation, "Confirme a nova senha" %>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "1234"  %>
    </div>

    <div class="mb-3">
        <%= form.submit "Alterar senha", class: "btn btn-primary" %>
    </div>
<% end %>